<!--
<h3>SNA Bootstrap Template by <a href="http://sna-tech.com/" target="_blank">S&A Technologies</a></h3>

<button (click)="getData()">Get Data</button>
-->


<div class="jumbotron text-center">
        <h1>Welcome, {{logedinuser}}</h1>
        <p>This website will be your ultimate tool to keeping yourself organized. Within this, 
            you can easily manage what your clients will have access too.
        </p> 
</div>

<div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Group Manager</h3>
                <p>The Group Manager tool will help you manage what groups your clients are in. You are able to add and 
                    remove your clients from your set dietary groups. You can also view and manage what recipes each 
                    group has access too.
                </p>
          </div>
          <div class="col-sm-4">
            <h3>Recipe Manager</h3>
                <p>The Recipe Manager tool will help you choose what recipes go to what user.</p>
          </div>
          <div class="col-sm-4">
            <h3>User Feedback</h3>        
                <p>This feature will help you see how your clients respond to your recipes.
                    You will be able to see their comments as well as a rating out of 5 stars.
                </p>
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
          </div>
        </div>
</div>

<footer class="container-fluid bg-4 text-left">
        <p>Created by <a href="https://www.sna-tech.com/" style="color:white">S&A Technologies</a></p> 
</footer>