.container-fluid {
    padding-top: 10px;
    padding-bottom: 20px;
}

.bg-4 { 
    background-color: #305777;
    color: #fff;
}

.container{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.jumbotron{
    padding-top: 40px;
    padding-bottom: 40px;
}