<h4>{{recipe.Name}}</h4>

<input class="form-control" type="text" [(ngModel)]="recipe.Name"/>
<button class='btn btn-primary' (click)="saveRecipe()">Update recipe</button><br>


<div class="table-responsive">
    <table class="tablemargin table">
        <thead class="thead-dark-sna">
        <tr>
          <th scope="col">Ingredients</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ing of recipe.ingredients">
          <td>{{ing.Description}}</td>
          <td><input type="checkbox"><br></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>

<div class="table-responsive">
    <table class="tablemargin table">
        <thead class="thead-dark-sna">
        <tr>
          <th scope="col">Steps</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of recipe.steps">
          <td>{{step.Description}}</td>
          <td><input type="checkbox"><br></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>
<!--
<div class="table-responsive">
    <table class="tablemargin table">
        <thead class="thead-dark-sna">
        <tr>
          <th scope="col">Ingredients</th>
          <th scope="col">Steps</th>
          <th scope="col">Calories</th>
          <th scope="col">Prep Time</th>
          <th scope="col">Servings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ol>
              <li *ngFor="let ing of recipe.ingredients">
                {{ing.Description}}
              </li>
            </ol>
          </td>
          <td>
            <ol>
              <li *ngFor="let step of recipe.steps">
                {{step.Description}}
              </li>
            </ol>
          </td>
          <td>{{recipe.Calories | json}}</td>
          <td>{{recipe.PrepTime}}</td>
          <td>{{recipe.Servings}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>
-->
    <br><br>
<!--
<h4>Group List</h4>
  <div class="table-responsive">
    <table class="tablemargin table">
        <thead class="thead-dark-sna">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>placeholder</td>
            <td>placeholder</td>
            <td><input type="checkbox"><br></td>
          </tr>
        </tbody>
      </table>
  </div>
  <button class="btn btn-primary" (click)="submit()">Submit</button>
  <br><br>


<div class="col-md-5">
    <h3>Add Recipe</h3>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control"/>
    </div>
    <button class="btn btn-primary" (click)="submit()">Add</button>
  </div>
</div>
-->
