<h4>Recipe Manager</h4><br> 
<button (click)="getRecipeSteps()">Get Recipe</button><br>
Recipes: 
{{recipes.length}}<br>
<button class="btn btn-primary" (click)="editRecipe(null)">Add Recipe</button>
<div class="row">
    <div class="col-md-7">
        <h3>List of Recipes</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Prep Time</th>
                    <th>PicFilePath</th>
                    <th>Edit Recipe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes">
                    <td (click)="select(recipe)" style="color:blue;text-decoration:underline ">{{recipe.Name}}</td>
                    <td>{{recipe.Calories}}</td>
                    <td>{{recipe.PrepTime}}</td>
                    <td>{{recipe.PicFilePath}}</td>
                    <td><i placement="top" ngbTooltip="Edit" (click)="editRecipe(recipe);" class="pointer iconcolor material-icons mdi-lg">edit</i></td>        
                </tr>
            </tbody>
        </table>
</div>

</div>