<h4>Recipe Manager</h4><br> 
<button (click)="getRecipeSteps()">Get Recipe</button><br>
Recipes: 
{{recipes.length}}<br>

<div class="row">
    <div class="col-md-7">
        <h3>List of Recipes</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Prep Time</th>
                    <th>PicFilePath</th>
                    <th>View Recipe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes">
                    <td (click)="select(group)" style="color:blue;text-decoration:underline ">{{recipe.Name}}</td>
                    <td>{{recipe.Calories}}</td>
                    <td>{{recipe.PrepTime}}</td>
                    <td>{{recipe.PicFilePath}}</td>

                    <td><button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        View
                    </button>
                    <div id="collapseExample" [ngbCollapse]="isCollapsed">
                            <div class="card">
                              <div class="card-body">
                                Ingredients
                                <ol>
                                    <li>Test</li>
                                    <!--<li>{{recipeStep.Id}}</li>-->
                                </ol>
                              </div>
                            </div>
                    </div>
                </td>
                          
                </tr>
            </tbody>
        </table>
</div>

<div class="col-md-5">
        <h3>Detail</h3>
        <br>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="recipe.name"/>
        </div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </div>

</div>