<div class="jumbotron text-center">
    <h3 style="color: white">Group Manager</h3>
</div>
<!--<button (click)="getData()">Get Data</button><br>
Groups: 
{{groups.length}}<br>
-->
<button class="btn btn-primary" (click)="editGroup(null)">Add Group</button>


<div class="table-responsive">
    <table class="tablemargin table">
      <thead class="thead-dark-sna">
        <tr>
          <th>Id</th>
          <th>Dietician Name</th>
          <th>Group Name</th>
          <th>Users</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groups">
          <td>{{group.Id}}</td>
          <td>{{group.DietitianName}}</td>
          <td>{{group.Name}}</td>
          <td>
            <ul>
              <li *ngFor="let user of group.Users">
                {{user.FirstName}}
              </li>
            </ul>
          </td>
          <td><i placement="top" ngbTooltip="Edit" (click)="editGroup(group);" class="pointer iconcolor material-icons mdi-lg">edit</i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ng-if="showGroup" -->

