<div class="jumbotron text-center">
    <h3 style="color: white">{{group.Name}}</h3>
</div>

<h4>Group: {{group.Name}}</h4>
<h4>Dietitian</h4>

Name: <input class="form-control" type="text" [(ngModel)]="group.Name"/><br>
<button class='btn btn-primary' (click)="saveGroup()">Update Group</button>


<h3>List of Users</h3>
<div class="table-responsive">
  <table class="tablemargin table">
      <thead class="thead-dark-sna">
        <tr>
          <th>Id</th>
          <th>Users</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of group.Users">
          <td>{{user.Id}}</td>
          <td>
            {{user.FirstName}}
          </td>
          <td><input type="checkbox"><br></td>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Submit</button> | 
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add User
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
              <table class="tablemargin table">
                  <thead class="thead-dark-sna">
                    <tr>
                      <th>Users</th>
                      <th>Add</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td>{{user.FirstName}} {{user.LastName}}</td>
                      <td><input type="checkbox"><br></td>
                  </tbody>
                </table>
        <input class="form-control" type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
<br><br>

    <h3>List of Recipes</h3>
    <div class="table-responsive">
    <table class="tablemargin table">
        <thead class="thead-dark-sna">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>placeholder</td>
          <td>placeholder</td>
          <td><input type="checkbox"><br></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Submit</button> | 
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRecipe">
  Add Recipe
</button>

<!-- Modal -->
<div class="modal fade" id="modalRecipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
              <table class="tablemargin table">
                  <thead class="thead-dark-sna">
                  <tr>
                    <th>Recipe Name</th>
                    <th>Add</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let recipe of recipes">
                    <td>{{recipe.Name}}</td>
                    <td><input type="checkbox"><br></td>
                  </tr>
                </tbody>
              </table>
        <input class="form-control" type="text" placeholder="Add Recipe"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
<br><br>
<!--
<br><br>
  <div class="col-md-5">
    <h3>Add User</h3>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control"/>
    </div>
    <button class="btn btn-primary" (click)="submit()">Add</button>
  </div>
</div>
-->
