<nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
  <a class="logo" [routerLink]="['home']"><img src="../../../assets/logo.png"/></a>
  <button style="color: black; border-color: transparent;" class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <i class="material-icons mdi-2x">menu</i>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="!isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a (click)="isCollapsed = false" class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *snaAccess="['DIETITIAN','ADMINISTRATOR','Developer']" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pointer" ngbDropdownToggle id="navbarDropdown" role="button">
            Dietitian
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['recipemanager']">Recipe Manager</a>
          </div>
        </li>
        <li *snaAccess="['ADMINISTRATOR','Developer']" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pointer" ngbDropdownToggle id="navbarDropdown" role="button">
            Administrator
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['usermanager']">User Manager</a>
            <a class="dropdown-item" [routerLink]="['groupmanager']">Group Manager</a>
          </div>
  
        </li>
        <li *snaAccess="['Developer']" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pointer" ngbDropdownToggle id="navbarDropdown" role="button">
            Developer
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['test']">Test</a>
          </div>
  
        </li>
      </ul>

<!--
      <li *snaAccess="['Developer']" ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pointer" ngbDropdownToggle id="navbarDropdown" role="button">
          Developer
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['usermanager']">User Manager</a>
          <a class="dropdown-item" [routerLink]="['groupmanager']">Group Manager</a>
          <a class="dropdown-item" [routerLink]="['recipemanager']">Recipe Manager</a>
        </div>
        
      </li>
    </ul>
    --> 
    <div class="form-inline my-2 my-lg-0">
      <span> Welcome, {{logedinuser}}</span>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pointer" (click)="isUserCollapsed = !isUserCollapsed" id="navbaruserDropdown" role="button" aria-haspopup="true" [attr.aria-expanded]="!isUserCollapsed">
            <!--<i style="font-size: 1.5em;" class="fa fa-user" aria-hidden="true"></i>-->
            <i class="material-icons mdi-lg">person</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbaruserDropdown" [ngbCollapse]="!isUserCollapsed">

            <a (click)="isUserCollapsed = false;isCollapsed = false" class="dropdown-item" [routerLink]="['editprofile']">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="dash_content">
  <router-outlet></router-outlet>
</div>

