<div class="wrapper">
  <form class="form-signin" name="resetPassword" #f="ngForm" (ngSubmit)="reset(f)" novalidate>
    <img class="form-signin-heading" src="../../../assets/CPlogo_transparent.png" />
    <input type="password" class="form-control" name="NewPassword" placeholder="New Password" required [(ngModel)]="newpass" />
    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" required [(ngModel)]="confirm_pass" />
    <small *ngIf="confirm_pass!=newpass" class="text-danger">
      Passwords do not match
    </small><br />
    <button class="btn btn-lg btn-primary btn-block" [disabled]="confirm_pass!=newpass" type="submit">Change Password</button>
    <br />
  </form>
</div>
