select {
  width: 60% !important;
}

.form-group input {
  width: 60% !important;
}

.form-check{
  margin-left:10px;
}

.jumbotron{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #305777;
}